@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all duration-150;
}

@layer base {
  body {
    font-family: "Jost", "sans-serif";
  }

  .max-container {
    @apply max-w-[1110px] w-[95%] mx-auto;
  }
}

@layer components {
  .btn {
    @apply font-medium text-base bg-white text-dark_grey inline-block tracking-[1px] pt-[18px] pb-[16px] px-6 
    rounded-lg cursor-pointer hover:bg-light_peach hover:text-white text-nowrap;
  }

  .custom-input {
    @apply w-full bg-transparent border-b outline-none pl-4 pb-3
          text-base text-white placeholder:text-base placeholder:text-white 
          placeholder:text-opacity-50 focus:border-b-[3px];
  }

  .bgCircle {
    background-image: url("./assets/shared/desktop/bg-pattern-call-to-action.svg");
    background-position-y: center;
  }

  .bg-contact-circle {
    background-image: url("./assets/contact/desktop/bg-pattern-hero-desktop.svg");
    background-position-y: -400px;
    background-repeat: no-repeat;
    background-position-x: 0;
  }

  @media screen and (min-width: 1110px) {
    .bg-contact-circle {
      background-image: url("./assets/contact/desktop/bg-pattern-hero-desktop.svg");
      background-position-y: 55%;
      background-repeat: no-repeat;
      background-position-x: -50%;
    }
  }

  .card-container {
    @apply grid lg:grid-cols-2 md:max-container md:rounded-3xl md:overflow-hidden;
  }

  .card-body {
    @apply bg-very_light_peach text-center lg:text-left py-20 px-6 md:px-14 md:py-16
        lg:px-16 lg:flex lg:items-center lg:justify-center;
  }

  /* Designs Card */
  .custom-overlay {
    @apply absolute top-0 left-0 w-full h-full group-hover:bg-peach rounded-3xl group-hover:bg-opacity-70;
  }

  .arrow-right::after {
    content: url("./assets/shared/desktop/icon-right-arrow.svg");
    margin-left: 21px;
  }

  /* Location Sec */
  .location {
    @apply flex flex-col md:gap-8 lg:flex-row lg:justify-self-start lg:items-center;
  }
}
